<div id="bandeau">
	<ul><h3>	 
		 <a href="">  <b2 class ="bandeau">Accueil | </b2></a>
		 <a href="">  <b2 class ="bandeau">Notre catalogue | </b2></a>
		 <a href="">  <b2 class ="bandeau">Votre panier | </b2></a>
		 <a href="">  <b2 class ="bandeau">Espace client </b2></a>
	</ul></h3>
</div>