<html>
	<head>
    <link rel="stylesheet" type="text/css" href=$context.getProperties().get("context")/res/css/ext-all.css>
    <link rel="stylesheet" type="text/css" href="https://www.ma-gic.net/assets/js/ext-3.3.1/resources/css/xtheme-blue.css"/>
    <script type="text/javascript" src="https://www.ma-gic.net/assets/js/ext-3.3.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="https://www.ma-gic.net/assets/js/ext-3.3.1/ext-all.js"></script>
    <script type="text/javascript" src="https://www.ma-gic.net/assets/js/ext_plugins/statusbar/StatusBar.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.ma-gic.net/assets/js/ext_plugins/statusbar/css/statusbar.css"/>
    
    <!-- js view -->
	<script type="text/javascript" src=$context.getProperties().get("context")/res/script/view/menu_administration.js></script>
	<!--Fin--> 
	</head>

	<body>
							<!-- Boby vide-->
	</body>

</html>